/Thumbs.db
/desktop.ini
/listPassword.txt

# Payment
/config/*

# Log
/error_log
/admin/error_log
/page/error_log
/public/error_log
/public/service
/service/error_log
/service/midtrans.log

# Databse Dump
/database/*