<footer id="contact">
        <div class="footer-content">
            <div class="footer-info">
                <h3>PMB Nurhasanah</h3>
                <p>Jl. Zaleha Iskandar, RT.009/RW.004, Sukorejo, Kec. Pagar Alam Utara, Kota Pagar Alam</p>
                <p>Telp: 0852-6744-4236</p>
                <p>WA: 0852-6744-4236</p>
            </div>
            <div class="footer-info">
                <h3>Jam Operasional</h3>
                <p>Poli: Senin - Sabtu (08.00 - 20.00)</p>
                <p>Persalinan: <strong>24 Jam</strong></p>
            </div>
        </div>
        <div class="footer-copyright">
            &copy; 2025 PMB Nurhasanah. All Rights Reserved.
        </div>
    </footer>
    <a href="https://wa.me/6285267444236" class="whatsapp-float" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
<script>
        function toggleMenu() {
            const nav = document.getElementById('nav-menu');
            nav.classList.toggle('active');
        }
    </script>
