<header>
        <div class="logo">
            <i class="fa-solid fa-heart-pulse"></i> PMB Nurhasanah
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav>
            <ul id="nav-menu">
                <li><a href="#home">Beranda</a></li>
                <li><a href="#services">Layanan</a></li>
                <li><a href="#profile">Tentang Bidan</a></li>
                <li><a href="page/login.php" class="cta-btn">Login here!</a></li>
            </ul>
        </nav>
    </header>